In [1]:
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import bz2
import json
from urllib.parse import urlparse
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [7]:
#creation d'un nouveau fichier avec une nouvelle colonne pour le domaine (cf colab)
from tld import get_tld

def get_domain(url):
    res = get_tld(url, as_object=True)
    return res.tld

In [8]:
#pareil
path_to_file = 'quotes-2020.json.bz2' 
path_to_out = 'quotes-2020-domains.json.bz2'

with bz2.open(path_to_file, 'rb') as s_file:
    with bz2.open(path_to_out, 'wb') as d_file:
        for instance in s_file:
            instance = json.loads(instance) # loading a sample
            urls = instance['urls'] # extracting list of links
            domains = []
            for url in urls:
                tld = get_domain(url)
                domains.append(tld)
            instance['domains'] = domains # updating the sample with domain name
            d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

In [2]:
#cette fois ci on rajoute une colonne avec simplement le nom du site
path_to_file = 'quotes-2020-domains.json.bz2' 
path_to_out = '2020a.json.bz2'

with bz2.open(path_to_file, 'rb') as s_file:
    with bz2.open(path_to_out, 'wb') as d_file:
        for instance in s_file:
            instance = json.loads(instance) # loading a sample
            urls = instance['urls'] # extracting list of links
            website = []
            for url in urls:
                net = urlparse(url)
                neto=net.netloc
                website.append(neto)
            instance['website'] = website # updating the sample with domain name
            d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

In [ ]:
#print de cette colonne
path_to_file = '2020a.json.bz2'

with bz2.open(path_to_file, 'rb') as s_file:
        for instance in s_file:
            instance = json.loads(instance) # loading a sample
            print(instance['website']) # extracting list of links

In [2]:

#df3=pd.DataFrame
#columns='quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences','probas', 'urls', 'phase', 'domains', 'website'

In [8]:
lista='quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences','probas', 'urls', 'phase', 'domains', 'website'
df2=pd.DataFrame(columns=lista)
#creation du dataframe avec les citations avec le mot immigration 
def process_chunk(chunk,df2):
        immi=pd.DataFrame()
        immi=chunk[chunk['quotation'].str.contains("immigrat")]
        df2 = df2.append(immi)
        print(df2.shape)
        print(f'Processing chunk with {len(chunk)} rows')
        print(chunk.columns)
        return df2
        
for chunk in pd.read_json('2020a.json.bz2', lines=True, compression='bz2', chunksize=250000, encoding='utf-8'):
    df2=process_chunk(chunk,df2)

(250000, 11)
(164, 11)
(164, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(163, 11)
(327, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(166, 11)
(493, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(151, 11)
(644, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(162, 11)
(806, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(189, 11)
(995, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(160, 11)
(1155, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(183, 11)
(1338, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(165, 11)
(1503, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(170, 11)
(1673, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(158, 11)
(1831, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(185, 11)
(2016, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(172, 11)
(2188, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(162, 11)
(2350, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(166, 11)
(2516, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(151, 11)
(2667, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(157, 11)
(2824, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(161, 11)
(2985, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(134, 11)
(3119, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(250000, 11)
(178, 11)
(3297, 11)
Processing chunk with 250000 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')
(244449, 11)
(159, 11)
(3456, 11)
Processing chunk with 244449 rows
Index(['quoteID', 'quotation', 'speaker', 'qids', 'date', 'numOccurrences',
       'probas', 'urls', 'phase', 'domains', 'website'],
      dtype='object')

In [30]:
df2.head(10)

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase,domains,website
74,2020-03-19-002801,All immigration to the US should be halted due...,Laura Ingraham,[Q266863],2020-03-19 19:42:07,2,"[[Laura Ingraham, 0.7681], [None, 0.2254], [Me...",[https://www.lifezette.com/2020/03/laura-ingra...,E,"[com, com]","['www.lifezette.com', 'www.washingtonexaminer...."
1970,2020-02-26-075062,This Government will get on and deliver a work...,Boris Johnson,[Q180589],2020-02-26 13:49:26,55,"[[Boris Johnson, 0.8695], [None, 0.1305]]",[http://www.expressandstar.com/news/uk-news/20...,E,"[com, co.uk, co.uk, co.uk, co.uk, co.uk, co.uk...","['www.expressandstar.com', 'andoveradvertiser...."
1980,2020-01-29-101344,This is among the more progressive attempts by...,García Hernández,[Q21844800],2020-01-29 11:46:01,4,"[[García Hernández, 0.5993], [None, 0.4007]]",[http://durangoherald.com/articles/312407-effo...,E,"[com, com, com, com]","['durangoherald.com', 'www.vaildaily.com', 'ww..."
3113,2020-01-23-027413,How come there is widespread breakdown of law ...,None,[],2020-01-23 17:37:00,1,"[[None, 0.7086], [Abubakar Malami, 0.2914]]",[https://www.thenigerianvoice.com/news/284600/...,E,[com],['www.thenigerianvoice.com']
4469,2020-03-19-071953,They had every right to be here and should nev...,Wendy Williams,"[Q24004546, Q29643798, Q3559238, Q44627147, Q6...",2020-03-19 08:45:30,15,"[[Wendy Williams, 0.9439], [None, 0.0524], [Pr...",[http://www.durangoherald.com/articles/318748-...,E,"[com, com, com, com, com, com, com, com, com, ...","['www.durangoherald.com', 'wsls.com', 'www.loc..."
4831,2020-01-07-086951,"We want to cover their lives, not just the imm...",Cristina Silva,"[Q57161472, Q57811040]",2020-01-07 05:00:50,1,"[[Cristina Silva, 0.6561], [None, 0.3439]]",[https://digiday.com/media/usa-today-tests-bil...,E,[com],['digiday.com']
6371,2020-02-23-024439,Officers will also look out for such traveller...,None,[],2020-02-23 17:27:16,1,"[[None, 0.6227], [President Moon, 0.3773]]",[https://www.channelnewsasia.com/news/singapor...,E,[com],['www.channelnewsasia.com']
6993,2020-02-17-069548,they wanted a fair system on immigration,Angela Rayner,[Q18164278],2020-02-17 11:47:04,1,"[[Angela Rayner, 0.9138], [None, 0.0829], [Ros...",[http://www.theweek.co.uk/105727/angela-rayner...,E,[co.uk],['www.theweek.co.uk']
9413,2020-04-03-059967,"There are so many challenges: healthcare, immi...",Gina Ortiz Jones,[Q51754461],2020-04-03 19:00:18,1,"[[Gina Ortiz Jones, 0.8175], [None, 0.1825]]",[https://www.lgbtqnation.com/2020/04/gina-orti...,E,[com],['www.lgbtqnation.com']
9628,2020-04-16-056321,"Under my plan, we will put Americans back to w...",Jeff Sessions,[Q358443],2020-04-16 16:04:20,1,"[[Jeff Sessions, 0.8938], [None, 0.0776], [Tom...",[https://vdare.com/posts/jeff-sessions-calls-f...,E,[com],['vdare.com']

In [10]:
df2.shape

(3456, 11)

In [40]:
lis=chunk['website'].value_counts().to_frame()
lis.head(20)

                                 website
['www.msn.com']                     1202
['express.co.uk']                   1184
['www.cheatsheet.com']               925
['www.bostonglobe.com']              769
['www.foxnews.com']                  763
['timesofindia.indiatimes.com']      745
['www.dailystar.co.uk']              742
['www.telegraph.co.uk']              741
['indianexpress.com']                741
['www.thesun.co.uk']                 730
['www.thehindu.com']                 722
['www.breitbart.com']                717
['www.forbes.com']                   703
['www.mirror.co.uk']                 642
['www.bbc.co.uk']                    631
['www.washingtonexaminer.com']       596
['www.hindustantimes.com']           581
['www.theguardian.com']              544
['msn.com']                          539
['www.latimes.com']                  523

In [15]:
chunk['speaker'].value_counts().to_frame()

                        speaker
None                      84128
President Donald Trump     1258
Bernie Sanders              595
Joe Biden                   581
President Trump             546
...                         ...
Kirstjen Nielsen              1
Jennifer Anderson             1
alan tongue                   1
Wes Welker                    1
Blake Hardwick                1

[62330 rows x 1 columns]

In [3]:
chunk['website']=chunk['website'].astype('str')

In [52]:
#creation d'un dataframe pour quelques journaux
fox=chunk[chunk['website'].str.contains("www.foxnews.com")]
ny=chunk[chunk['website'].str.contains("www.nytimes.com")]
brei=chunk[chunk['website'].str.contains("www.breitbart.com")]
cnn=chunk[chunk['website'].str.contains("cnn.com")]
guard=chunk[chunk['website'].str.contains("www.theguardian.com")]
slate=chunk[chunk['website'].str.contains("slate.com")]
buzz=chunk[chunk['website'].str.contains("buzzfeed.com")]

In [53]:
fox_quotes=fox['quotation']
ny_quotes=ny['quotation']
brei_quotes=brei['quotation']
cnn_quotes=cnn['quotation']
guard_quotes=guard['quotation']
slate_quotes=slate['quotation']
buzz_quotes=buzz['quotation']

In [11]:
sia = SentimentIntensityAnalyzer()

In [8]:
fox.shape

(1787, 11)

In [18]:
ny.shape

(1284, 11)

In [22]:
brei.shape

(3708, 11)

In [35]:
cnn.shape

(1446, 11)

In [43]:
guard.shape

(687, 11)

In [47]:
slate.shape

(123, 11)

In [54]:
buzz.shape

(279, 11)

In [16]:
#analyse de sentiments positif et negatif pour les journaux précédemment choisis
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in fox_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/1787
average_neg=neg/1787
print(average_pos,average_neg)

0.11182372691661988 0.07998601007274761

In [19]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in ny_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/1284
average_neg=neg/1284
print(average_pos,average_neg)

0.10962928348909654 0.07516510903426793

In [23]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in brei_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/3708
average_neg=neg/3708
print(average_pos,average_neg)

0.12019363538295594 0.0813460086299893

In [38]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in cnn_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/1446
average_neg=neg/1446
print(average_pos,average_neg)

0.113540110650069 0.06954356846473027

In [44]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in guard_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/687
average_neg=neg/687
print(average_pos,average_neg)

0.11037845705967979 0.07798107714701595

In [48]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in slate_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/123
average_neg=neg/123
print(average_pos,average_neg)

0.09873170731707316 0.07367479674796752

In [55]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in buzz_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/279
average_neg=neg/279
print(average_pos,average_neg)

0.1609749103942653 0.06458064516129029

In [11]:
immi=chunk[chunk['quotation'].str.contains("")]
immi.shape

(288, 11)

In [12]:
df2_quotes=df2['quotation']

In [13]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in df2_quotes:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/3456
average_neg=neg/3456
print(average_pos,average_neg)

0.09833275462962988 0.08480266203703696

In [23]:
df2['website']=df2['website'].astype('str')

In [27]:
fox_immi=df2[df2['website'].str.contains("foxnews.com")]

In [28]:
fox_immi.shape

(88, 11)

In [29]:
pos=0
neg=0
average_pos=0
average_neg=0
for quotation in fox_immi['quotation']:
    result=sia.polarity_scores(quotation)
    pos=pos+result["pos"]
    neg=neg+result["neg"]
average_pos=pos/88
average_neg=neg/88
print(average_pos,average_neg)

0.12042045454545452 0.10822727272727271