# Project ADA: Part 1 Read Data and Load DataFrame for all the Years

In [1]:
from google.colab import drive
drive._mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWjrJp0JvSODfPWXHpRdP-0vgRMVQ8kNRYj4gPdisbKNKhvwwJ_ZmZE
Mounted at /content/drive

In [ ]:
!pip install pandas==1.0.5

In [1]:
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
import numpy as np
import bz2
import json
from urllib.parse import urlparse
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import os
import glob
import pickle

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

## Create Dataframe for each journal

In [ ]:
def process_chunk(chunk, year, nb):
    df_chunk = pd.DataFrame()
    df = pd.DataFrame()
    
    df_chunk = chunk.drop(['qids', 'phase'], axis=1) #axis=1 for columns
    
    df_chunk['urls'] = df_chunk['urls'].astype('str') #Converting to string to be able to use str.contains 
    df_1 = df_chunk[df_chunk['urls'].str.contains('foxnews')] #Creating a DataFrame containing only foxnews
    df_2 = df_chunk[df_chunk['urls'].str.contains('nytimes')]
    df = pd.concat([df_1, df_2])

    df.to_pickle('/content/drive/MyDrive/ADA_2021/Fox_NY_' + str(year) + '/' + str(nb) + '_' +  str(year) + '_' + 'FoxNYtimes.pkl')

In [ ]:
years = [2015, 2016, 2017, 2018, 2019, 2020]
for y in years:
    nb = 1
    for chunk in pd.read_json('/content/drive/MyDrive/Quotebank/quotes-' + str(y) + '.json.bz2', 
                              lines=True, compression='bz2', chunksize=500000, encoding='utf-8'):
      
      process_chunk(chunk, y, nb)
      nb += 1

In [2]:
def read_yearly(y):
    PATH = '/content/drive/MyDrive/ADA_2021/Fox_NY_' + str(y) + '/'
    nb = 1
    df1 = pd.DataFrame()
    df2 = []
    dirs = glob.glob(os.path.join(PATH, "*.pkl"))

    for files in dirs:
        df1 = pd.read_pickle(PATH + str(nb)+ '_' + str(y) + '_' + 'FoxNYtimes.pkl')
        df2.append(df1)
        nb += 1
    return df2

In [3]:
years = [2015, 2016, 2017, 2018, 2019, 2020]
df_foxNY = pd.DataFrame()

for y in years:
  df_foxNY = df_foxNY.append(read_yearly(y))

In [19]:
df_foxNY.sample(3)

                    quoteID  ...                                               urls
9604225   2017-08-22-154821  ...  ['https://www.nytimes.com/2017/08/22/arts/musi...
7272252   2015-04-29-012495  ...  ['http://communityvoices.post-gazette.com/arts...
18635814  2017-05-12-029784  ...  ['https://www.nytimes.com/2017/05/11/sports/te...

[3 rows x 7 columns]

## Checking if Filtering is Needed

In [14]:
# Calculates duplicated rows in the DataFrame
# There are duplicat rows in the DataFrame because sometimes both journal will provide the same quotation
num_duplicates = len(df_foxNY[df_foxNY.duplicated(subset=['quoteID', 'quotation', 'date', 'urls'])])
print("There are {} duplicated rows".format(num_duplicates))

#Removes duplicated rows
df_foxNY = df_foxNY.drop_duplicates(subset=['quoteID', 'quotation', 'date', 'urls'], keep="first")

There are 19385 duplicated rows

In [21]:
#Searching for Missing Values
def MissingValuesFilter(chunk):
        #Gives True as a result, if the lines where NaN are presents are empty 
        #(meaning there are no NaNs):
        missing_nan = pd.DataFrame(np.where(chunk.isnull().any(axis=1))).empty
        #Gives True as a result if the lignes and corresponding columns where 
        #zeros, '' and None are found are empty:
        missing_zeros = pd.DataFrame(np.where(chunk==0)).empty 
        missing_space = pd.DataFrame(np.where(chunk=='')).empty
        missing_none = pd.DataFrame(np.where(chunk==None)).empty
        #missing_brackets = pd.DataFrame(np.where(chunk==[])).empty

        print('This DataFrame does not contain missing values')
        print(missing_nan, missing_zeros, missing_space, missing_none) 

MissingValuesFilter(df_foxNY)

/usr/local/lib/python3.7/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

This DataFrame does not contain missing values
True True True True

In [ ]:
#Checking if Number of Occurrences is coherent
def NumOccurrencesFilter(chunk):
        size = len(chunk)
        #To have a number of occurrences equal zero has no meaning, so here it checks if this data set 
        if chunk['numOccurrences'].all() == np.array(size*[0]).all():
          print('Number of Occurrences impossible')
        else :
          print('Number of Occurences posible')

NumOccurrencesFilter(df_foxNy)

Number of Occurences posible

In [22]:
#Checking if the Highest Probability Corresponds to the Autor of the quotation
def ProbasFilter(chunk):
        size = len(chunk)
        if chunk['probas'].str[0].str[1].astype(float).all() < np.array(size*[0.8]).all():
          print('Probability of Autors of quotation too low')
        else :
          print('Probability of Autors higher than 80%')

ProbasFilter(df_foxNY)

Probability of Autors higher than 80%

In [23]:
#Checking if the Autor is the one with the highest probability of having generated the quotation
def ProbasFilter(chunk):  
        if chunk['speaker'].all() != chunk['probas'].str[0].str[0].all():
          print('The Autor does not correspond to the high probability Autor')
        else :
          print('The Autor has a high probability of having generated the quotation')

ProbasFilter(df_foxNY)

The Autor has a high probability of having generated the quotation